/* General styles for nav */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-secondary);
    position: fixed;
    padding: 0 20px;
    top: 0;
    width: 50%;
    z-index: 100;
    display: flex;
}
.tabs-container {
    display: flex;
    flex: 1;
    justify-content: center;
    transition: left 0.3s ease;
}

.tab {
    color: var(--muted-foreground);
    transition: var(--transition);
    cursor: pointer;
    padding: 10px 15px;
}

.tab:hover {
    color: var(--foreground);
}

.buttons-wrapper {
    display: flex;
    align-items: center;
}

.menu-btn {
    display: none;
}

.sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 110;
    width: 100%;
    height: 100%;
    background: rgba(1, 1, 1, 0.5);
    display: none;
}

.close-sidebar-btn {
    display: none;
}

/* Mobile Styles */
@media (max-width: 900px) {
    .tabs-container {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100%;
        width: 10%;
        max-width: 320px;
        z-index: 150;
        background: var(--bg-primary);
        flex-direction: column;
        align-items: center;
        padding: 20px;
        padding-top: 80px;
        transition: left 0.3s ease;
    }

    .tabs-container.active {
        left: 0;
    }

    .tab {
        padding: 10px 0;
    }

    .menu-btn,
    .close-sidebar-btn {
        display: block;
    }

    .sidebar-overlay.active {
        display: block;
    }
}

@media (max-width: 400px) {
    .contact-btn {
        display: none;
    }
}
